@charset "utf-8";
@import url('reset.css');
@import url('../font/pretendard/stylesheet.css');

@keyframes line_grow {
    0% {
        stroke-dashoffset: 1000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes button_grow {
    0% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.5);
    }
}

html,
body {
    font-size: 62.5%;
    font-family: 'Pretendard';
    font-weight: 500;
    letter-spacing: -0.02rem;
    color: #111;
}

section {
    margin-bottom: 150px;
    line-height: 1.5;
}

.title h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.title p {
    font-size: 2rem;
    color: #818181;
}

.mobile {
    display: none;
}

.inner {
    max-width: 1400px;
    width: calc(100% - 40px);
    margin: 0 auto;
}

.view_more {
    display: inline-block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 1.6rem;
    text-align: center;
    border: 1px solid #4C4C4C;
    white-space: nowrap;
}

/* header */
.header {
    width: 100%;
    height: 60px;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 999;
    transform: translateY(0);
    transition: transform 0.5s;
}

.header.scrolled {
    transform: translateY(-100%);
}


.header.invert {
    background-color: #fff;
}

.header.invert .gnb li a {
    filter: invert(1);
}

.header .inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .inner .gnb {
    display: flex;
    column-gap: 50px;
    color: #fff;
    font-size: 1.8rem;
}

.header .inner .gnb a:hover {
    color: #F67145;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}


/* main_vsiual */
.main_visual {
    height: 100vh;
}

.main_visual video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* section-01 */
.section-01 .inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 28px;
}

.section-01 .inner .image {
    width: 49%;
    position: relative;
}

.section-01 .inner .image:nth-child(1):before,
.section-01 .inner .image:nth-child(4):before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%);

    position: absolute;
    top: 0;
    left: 0;
}

.section-01 .inner .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-01 .inner .image .text {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: end;
    padding: 0 30px 30px 0;
}

.section-01 .inner .image .text p {
    font-size: 2.4rem;
    font-weight: 700;
}

.section-01 .inner .image .text span {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 8px;
}

/* section-02 */
.section-02 .inner {
    display: flex;
    position: relative;
}

.section-02 .inner::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 2s;
    background-color: #818181;

    position: absolute;
    top: 0;
    left: 0;
}

.section-02 .inner.scrollE::before {
    transform: scaleX(1);
}

.section-02 .title.scrollE::before {
    transform: scaleY(1);
}

.section-02 .title {
    width: 32%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 27px 27px 0 0;
}

.section-02 .title h3 {
    margin-bottom: 35px;
    position: relative;
}

.section-02 .inner .title h3::before {
    content: '';
    width: 200px;
    height: 40px;
    background: url('../img/sub_img/highlight_01.png') center center no-repeat;
    position: absolute;
    top: 0;
    left: 40%;
    z-index: -1;
    transform-origin: left center;
    transition: 1s;
}

.section-02 .title::before {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 2s;
    background-color: #818181;

    position: absolute;
    top: 0;
    right: 0;
}

.section-02 .image {
    width: 68%;
    padding: 27px 27px 0 27px;
}

.section-02 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



/* section-03 */
.section-03 .title {
    margin-bottom: 50px;
}

.section-03 .title h3 {
    position: relative;
}

.section-03 .inner .title h3::before {
    content: '';
    width: 150px;
    height: 40px;
    background: url('../img/sub_img/highlight_02.png') center center no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.section-03 .detail_wrap {
    width: 100%;
    position: relative;
}

.section-03 .main_image {
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.section-03 .inner .main_image img {
    width: 100%;
    height: 100%;
}

.section-03 .inner .info_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.section-03 .inner .info_wrap .vertical {
    width: 21.43%;
    display: flex;
    flex-direction: column;
    row-gap: 130px;
    justify-content: space-between;
}

.section-03 .inner .info_wrap .vertical .info img {
    width: 100%;
}

.section-03 .inner .info_wrap .info .text p {
    font-size: 1.8rem;
    font-weight: 700;
    color: #F67145;
}

.section-03 .inner .info_wrap .info .text span {
    font-size: 1.6rem;
    color: #4c4c4c;
}

.section-03 .inner .info_wrap .info {
    position: relative;
}

/* info_wrap_left */
.section-03 .inner .info_wrap .info .line_wrap .line {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

.section-03 .inner .info_wrap .info .line_wrap p:hover~.line {
    animation: line_grow 1.5s linear forwards;
}

.section-03 .inner .info_wrap .info .line_wrap {
    width: 100%;
    position: absolute;
}

.section-03 .inner .info_wrap .info .line_wrap p {
    position: absolute;
    cursor: pointer;
}

.section-03 .inner .info_wrap .info .line_wrap p::before {
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background-color: #F67145;
    opacity: 0.7;
}

.section-03 .inner .info_wrap .left .info:first-child .line_wrap p::before {
    animation: button_grow 1.7s linear infinite;
}

.section-03 .inner .info_wrap .info .line_wrap p::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #F67145;
}

.section-03 .inner .info_wrap .left .info:first-child {
    transform: translateX(60px);
}

.section-03 .inner .info_wrap .left .info:first-child .line_wrap {
    top: 21%;
    left: 117%;
}

.section-03 .inner .info_wrap .left .info:first-child .line_wrap p {
    bottom: -15px;
    right: -10px;
}

.section-03 .inner .info_wrap .left .info:last-child {
    transform: translateX(80px);
}

.section-03 .inner .info_wrap .left .info:last-child .line_wrap {
    bottom: 20%;
    left: 110%;
}

.section-03 .inner .info_wrap .left .info:last-child .line_wrap p {
    right: -15px;
    top: -10px;
}

/* info_wrap_right */
.section-03 .inner .info_wrap .right .info:first-child {
    transform: translateX(-60px);
}

.section-03 .inner .info_wrap .right .info:first-child .line_wrap {
    top: 50%;
    left: -90%;
}

.section-03 .inner .info_wrap .right .info:first-child .line_wrap p {
    left: 15px;
    bottom: -7px;
}

.section-03 .inner .info_wrap .right .info:last-child .line_wrap {
    top: 39%;
    right: 98%;
}

.section-03 .inner .info_wrap .right .info:last-child .line_wrap p {
    left: -25px;
    top: -7px;
}

/* section-04 */
.section-04 {
    width: 100%;
    height: 600px;
    background: url('../img/sub_img/sec04.png')0 0 / cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.section-04 .inner {
    height: 100%;
    display: flex;
    align-items: center;
}

.section-04 .inner .title h5 {
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 12px;
}

.section-04 .text {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/* section-05 */
.section-05 .inner .title h3 {
    position: relative;
}

.section-05 .inner .title h3::before {
    content: '';
    width: 280px;
    height: 50px;
    background: url('../img/sub_img/highlight_03.png') center center /contain no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.section-05 .title_wrap {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-05 .collabo_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 100px;
}

.section-05 .collabo_wrap .history {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 50px;
    padding-left: 150px;
    position: relative;
}

.section-05 .collabo_wrap .history::before {
    content: '';
    display: block;
    height: 100%;
    width: 2px;
    background-color: #818181;
    position: absolute;
    left: 118px;
    top: 0;
    z-index: -1;
}

.section-05 .collabo_wrap .history h6 {
    font-size: 2.4rem;
    line-height: 1.2;
    margin-bottom: 4px;
    position: relative;
}

.section-05 .collabo_wrap .history h6::before {
    content: '';
    display: block;
    width: 17px;
    height: 17px;
    background-color: #F67145;
    border-radius: 50%;
    border: 4px solid #444;

    position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
}

.section-05 .collabo_wrap .history li {
    font-size: 1.8rem;
    color: #818181;
    cursor: pointer;
}

.section-05 .collabo_wrap .history li:hover {
    color: #424242;
}

.section-05 .collabo_wrap .history li.active {
    color: #F67145;
    font-weight: 600;
}

.section-05 .image_wrap {
    width: 60%;
    height: 700px;
}

.section-05 .image {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.section-05 .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-05 .image p {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    padding: 50px 50px 0 50px;
    line-height: 1.5;
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
}

.section-05 .image {
    display: none;
}

.section-05 .image.active {
    display: block;
}

/* section-06 */
.section-06 .inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
}

.section-06 .inner::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: center;
    transition: 2s;
    background-color: #818181;
    position: absolute;
    top: 0;
}

.section-06 .title {
    width: 33.98%;
    position: relative;
    padding: 27px 27px 0 0;
}

.section-06 .title::before {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: 2s;
    background-color: #818181;
    position: absolute;
    right: 0;
    top: 0;
}

.section-06 .inner .title h3 {
    position: relative;
}

.section-06 .inner .title h3::before {
    content: '';
    width: 220px;
    height: 50px;
    background: url('../img/sub_img/highlight_04.png') center center /contain no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.section-06 .inner.scrollE::before {
    transform: scaleX(1);
}

.section-06 .title.scrollE::before {
    transform: scaleY(1);
}

.section-06 .info_wrap {
    width: 66.02%;
    padding-top: 27px;
    padding-inline: 27px;
}

.section-06 iframe {
    width: 100%;
    height: 400px;
    margin-bottom: 32px;
}

.section-06 .info_wrap .info dl {
    display: grid;
    grid-template-columns: 300px calc(100% - 300px);
    margin-bottom: 20px;
}

.section-06 .info_wrap .info dt {
    font-size: 1.8rem;
    font-weight: 600;
}

.section-06 .info_wrap .info dd {
    font-size: 1.6rem;
    color: #424242;
}

/* footer */
.footer {
    border-top: 1px solid #818181;
}

.footer .inner {
    display: flex;
    justify-content: space-between;
    padding-block: 100px;
}

.footer .inner .left p {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 40px;
}

.footer .inner .left p:last-child {
    margin-bottom: 0;
}

.footer .inner .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer .inner .right a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 50px;
    border: 1px solid #1A1A1A;

    font-size: 1.8rem;
    font-weight: 700;
    color: #F67145;
}

.footer .inner .right span {
    display: block;
}

.footer .inner .right .copy {
    font-size: 1.4rem;
    color: #818181;
}

@media screen and (max-width: 1200px) {
    .section-02 .title {
        padding: 12px 12px 0 0;
    }

    .section-02 .image {
        padding: 12px 12px 0 12px;
    }

    .section-05 .image_wrap {
        height: 500px;
    }

    .section-05 .collabo_wrap {
        padding-inline: 20px;
    }

    .section-05 .collabo_wrap .history {
        padding-left: 80px;
    }

    .section-05 .collabo_wrap .history::before {
        left: 47.5px;
    }

    .section-06 .title {
        padding: 12px 12px 0 0;
    }

    .section-06 .info_wrap {
        padding-top: 12px;
        padding-inline: 12px;
    }
}

@media screen and (max-width: 1024px) {

    html,
    body {
        font-size: 56.25%;
    }

    .section-01 .inner {
        row-gap: 20px;
    }

    .section-01 .inner .image .text {
        padding: 0 24px 24px 0;
    }

    .section-03 .main_image {
        position: static;
        transform: translate(0, 0);

        display: flex;
        justify-content: center;
    }

    .section-03 .inner .info_wrap {
        display: block;
    }

    .section-03 .inner .info_wrap .vertical {
        width: 100%;
        margin: 0 auto;
    }

    .section-03 .inner .main_image img {
        width: auto;
    }

    .section-03 .inner .info_wrap .info {
        transform: translateX(0) !important;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .section-03 .inner .info_wrap .vertical {
        display: block;
    }

    .section-03 .inner .info_wrap .vertical .info img {
        width: auto;
    }

    .section-03 .inner .info_wrap .info .line_wrap {
        display: none;
    }

    .section-03 .inner .info_wrap .info .line_wrap p::before,
    .section-03 .inner .info_wrap .info .line_wrap p::after {
        display: none;
    }

    .section-05 .image p {
        padding: 35px 35px 0 35px;
        font-size: 1.8rem;
    }

    .section-06 .inner {
        display: block;
    }

    .section-06 .inner::before {
        display: none;
    }

    .section-06 .title {
        width: 100%;
        margin-bottom: 40px;
    }

    .section-06 .title::before {
        display: none;
    }

    .section-06 .info_wrap {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        padding: 0;
    }

    .section-06 .info_wrap .info dl {
        grid-template-columns: 180px calc(100% - 180px);
    }

    .section-06 iframe {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 920px) {
    .section-05 .image_wrap {
        height: 450px;
    }

    .section-05 .collabo_wrap {
        padding-inline: 0;
    }

    .section-05 .collabo_wrap .history {
        padding-left: 40px;
    }

    .section-05 .collabo_wrap .history::before {
        left: 7.5px;
    }

    .section-05 .image p {
        padding: 35px 35px 0 35px;
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 767px) {

    html,
    body {
        font-size: 50%;
    }

    .view_more {
        width: 150px;
        height: 40px;
        line-height: 40px;
    }

    .pc {
        display: none;
    }

    .mobile {
        display: block;
    }

    .section-01 .inner {
        row-gap: 12px;
    }

    .section-01 .inner .image .text {
        padding: 0 16px 16px 0;
    }

    .section-02 .inner {
        display: block;
    }

    .section-02 .title {
        width: 100%;
        padding-bottom: 12px;
    }

    .section-02 .title h3 {
        margin-bottom: 20px;
    }

    .section-02 .inner .title h3::before {
        left: 21%;
    }

    .section-02 .inner::before {
        display: none;
    }

    .section-02 .title::before {
        width: 100%;
        height: 1px;
        bottom: 0;
        top: auto;
    }

    .section-02 .image {
        width: 100%;
        padding: 0;
        padding-top: 12px;
    }

    .section-03 .inner .info_wrap .vertical .info img {
        width: 30%;
    }

    .section-05 .title_wrap .title {
        padding-right: 10px;
    }

    .section-05 .title_wrap {
        margin-bottom: 30px;
    }

    .section-05 .collabo_wrap {
        display: block;
        padding-top: 30px;
    }

    .section-05 .collabo_wrap .history {
        flex-direction: unset;
        justify-content: space-between;
        width: 100%;
        padding: 0;
        padding-inline: 20px;
        margin-bottom: 20px;
    }

    .section-05 .collabo_wrap .history::before {
        width: 100%;
        height: 3px;
        left: 0;
        top: -17.5px;
    }

    .section-05 .collabo_wrap .history h6 {
        display: inline-block;
    }

    .section-05 .collabo_wrap .history h6::before {
        top: -25px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .section-05 .image_wrap {
        width: 100%;
        height: auto;
    }

    .section-05 .image {
        overflow: visible;
    }

    .section-05 .image img {
        filter: none;
        height: 400px;
    }

    .section-05 .image p {
        font-size: 2.5rem;
        padding: 0;
        margin-top: 20px;
        position: static;
        color: inherit;
    }

    .section-06 .title {
        margin-bottom: 28px;
    }

    .section-06 .info_wrap {
        display: block;
    }

    .section-06 iframe {
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 550px) {
    .section-01 .inner .image .text {
        padding: 0 8px 8px 0;
    }

    .section-05 .title_wrap {
        display: block;
    }

    .section-05 .image p {
        font-size: 2rem;
    }

    .section-05 .title_wrap .title {
        margin-bottom: 20px;
        padding: 0;
    }

    .section-05 .collabo_wrap .history li {
        font-size: 1.5rem;
    }

    .section-06 .info_wrap .info dl {
        margin-bottom: 12px;
    }

    .section-06 iframe {
        height: 250px;
    }
}